* {
    margin: 0;
    padding: 0;
}
.all{
    width: 728px;
    margin: 0 auto;
}
header{
    background-color: rgb(235, 80, 17);
    height: 75px;
    width: 728px;
    display: flex;
    justify-content: space-between;
}
header>.logo>img{
    width: 135px;
   
}
header>.logo{
    display: flex;
    align-items: center;
    padding-left: 18px;
}
header>.login{
    display: flex;
    align-items: center;
}
input{
    height: 16px;
    width: 223px;
}
.buton{
    height: 16px;
    width: 68px;
    margin-right: 3px;
    margin-left: 10px;
    font-size: 8px;
    background-color: rgb(39, 47, 84);
    color: white;
}
.menu{
    height: 27px;
    width: 100%;
    background-color: rgb(39, 47, 84);
    

}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul>li>a{
    text-decoration: none;
    color: white;
    font-size: 9px;
    padding: 9px 14px;
    display: flex;
    align-items: center;
}

ul>li>a:hover{
    background-color: rgb(235, 80, 17);
}
.banner>img{
    width: 100%;
}
.tieude{
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tieude>h2{
    font-size: 17px;
    color: rgb(235, 80, 17);
    font-style: initial;
}
.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.container>.nd1{
    border: 1px solid rgb(235, 80, 17);
    width: 210px;
    height: 267px;
    padding-left: 17px;
    padding-top: 10px;
    
}
.nd1>b{
    font-size: 15px;
    padding-left: 25px; 
    color: rgb(168, 51, 0);
}
.nd1>img{
    width: 194px;
    padding-top: 20px;
    padding-bottom: 17px;
}
.nd1>p{
    font-size: 12px;
    /* word-spacing: 1px; */
    letter-spacing: 0.1px;
    
   
}
footer{
    margin-top: 62px;
    height: 40px;
    background-color: rgb(235, 80, 17);
    display: flex;
    justify-content: center;
    align-items: center;
}
footer>b{
    color: white;
    font-size: 10px;
    word-spacing: 2px;
    letter-spacing: 10px;
}